* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 36px;
}
body {
  min-height: 100vh;
}
.App {
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Square {
min-width: 400px;
min-height: 400px;
border: 2px solid black;
box-shadow: 2px 2px 5px black;
border-radius: 0.25rem;
display: grid;
place-content: center;
}

.Square p {
  text-align: center;
}
form {
  max-width:400px;
}
label {
  position: absolute;
  left: -99999px;
}
input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  outline: none;
}
@media (max-width: 599px) {
  .Square {
    min-width: 90vw; 
    min-height: 90vw; 
    max-width: 100%; 
    max-height: 100%; 
  }
  
  form {
    max-width: 90%; 
  }
  
  input[type="text"] {
    font-size: 0.875rem;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .Square {
    min-width: 70vw; 
    min-height: 70vw; 
  }
  
  form {
    max-width: 80%; 
  }
  
  input[type="text"] {
    font-size: 0.875rem; 
  }
}
@media (min-width: 900px) {
  .Square {
    min-width: 400px; 
    min-height: 400px; 
  }
  
  form {
    max-width: 400px;
  }
  
  input[type="text"] {
    font-size: 1rem; 
  }
}

